.verification-code {
	display: flex;
	align-items: center;
	justify-items: center;
	width: 100%;
}

.verification-code ion-input {
	margin: 7.5px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #e2e4e3;
	--highlight-color: black !important;
}

.verification-code ion-input:hover {
	border: 3px solid black;
}

.verification-code ion-input::after::before {
	--tw-ring-color: black !important;
}
