<app-nav-bar />

<ion-content [fullscreen]="true" scroll-y="false">
	<div class="authentication-form">
		<ion-card>
			<ion-card-header>
				<ion-card-title> Forget Password </ion-card-title>
				<ion-card-subtitle
					>Please enter your email or username
				</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<ion-list lines="none">
						<ion-item
							*ngIf="form.controls.username.touched && form.controls.username.invalid"
							class="invalid"
						>
							<ion-label>
								<p
									*ngIf="form.controls.username.hasError('required')"
								>
									Required
								</p>
							</ion-label>
						</ion-item>

						<ion-item>
							<input
								placeholder="Type your email or username"
								type="text"
								autocomplete="username"
								formControlName="username"
								name="username"
							/>
						</ion-item>

						<ion-item>
							<ion-button
								type="submit"
								color="dark"
								class="forgot-password"
							>
								Send code
							</ion-button>
						</ion-item>

						<ion-item>
							<ion-button
								[routerLink]="['/authentication/recovery']"
								class="login-sing-in"
								fill="clear"
								expand="block"
								>Go to Recover Password</ion-button
							>
						</ion-item>
					</ion-list>
				</form>
			</ion-card-content></ion-card
		>
	</div></ion-content
>
