<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-searchbar placeholder="search"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header class="ion-no-border">
		<ion-segment value="default">
			<ion-segment-button value="default">
				<ion-label>Event</ion-label>
			</ion-segment-button>
			<ion-segment-button value="categories">
				<ion-label>Categories</ion-label>
			</ion-segment-button>
			<ion-segment-button value="performer">
				<ion-label>Performer</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-header>
</ion-content>
