app-ticket-item {
	width: 100%;
}

.tickets-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.tickets-container ion-list {
	background-color: var(--ion-color-light);
	width: 100%;
	max-width: 500px;
}

.tickets-container ion-item::part(native) {
	background-color: var(--ion-color-light);
	margin-top: 10px;
}
