<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-title> My Tickets</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
	<div class="tickets-container">
		<ion-list lines="none">
			<ion-item
				[button]="true"
				detail="false"
				routerLink="/tickets/ticket"
			>
				<app-ticket-item></app-ticket-item>
			</ion-item>
			<ion-item>
				<app-ticket-item></app-ticket-item>
			</ion-item>
			<ion-item>
				<app-ticket-item></app-ticket-item>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
