<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-title> My Tickets</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list lines="none">
		<ion-item
			*ngFor="let password of passwords"
			(click)="copy(password.password)"
		>
			{{password.password}}
			<ion-note item-right>{{password.title}}</ion-note>
		</ion-item>
	</ion-list>

	<ion-list lines="none">
		<ion-item [button]="true" detail="false" routerLink="/tickets/ticket">
			<app-ticket-item></app-ticket-item>
		</ion-item>
		<ion-item>
			<app-ticket-item></app-ticket-item>
		</ion-item>
		<ion-item>
			<app-ticket-item></app-ticket-item>
		</ion-item>
	</ion-list>
</ion-content>
