<div class="user-ticket-container">
	<div class="ticket-header">
		<div>
			<h1>{{ ticket.event.name }}</h1>
			<h2>{{ ticket.event.eventType }}</h2>
		</div>
	</div>

	<div class="split">
		<hr class="solid" />
	</div>

	<section>
		<div class="item">
			<h3>Place</h3>
			<h4>{{ ticket.event.venue.name }}</h4>
		</div>
	</section>

	<section>
		<div class="item">
			<h3>Date</h3>
			<h4>{{ ticket.event.startDate | date }}</h4>
		</div>
		<div class="item">
			<h3>Time</h3>
			<h4>
				{{ ticket.event.startDate | date : "hh:mm a" }} -
				{{ ticket.event.endDate | date : "hh:mm a" }}
			</h4>
		</div>
	</section>

	<section>
		<div class="item">
			<h3>Section</h3>
			<h4>{{ ticket.zone.name }}</h4>
		</div>
		<div class="item">
			<h3>Seat</h3>
			<h4>{{ ticket.seat.name }}</h4>
		</div>
	</section>

	<section>
		<div class="item">
			<h3>Cost</h3>
			<h4>{{ ticket.cost | currency }}</h4>
		</div>
		<div class="item">
			<h3>Order</h3>
			<h4>{{ ticket.orderNumber }}</h4>
		</div>
	</section>

	<div class="split">
		<div class="edge-left"></div>
		<hr />
		<div class="edge-right"></div>
	</div>

	<section class="qr-code">
		<div>
			<ion-progress-bar
				[buffer]="1"
				[value]="progress"
			></ion-progress-bar>
			<qrcode [qrdata]="password" [width]="200"></qrcode>
		</div>
	</section>
</div>
