<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-title>Taylor Swift</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="performer-container">
		<ion-card>
			<img src="assets/taylorswiftconcert.jpg" />
			<ion-card-header
				><ion-card-title>Taylor Swift</ion-card-title></ion-card-header
			>
			<ion-card-content>
				<ion-list>
					<app-events-performer></app-events-performer>
					<app-events-performer></app-events-performer>
					<app-events-performer></app-events-performer>
					<app-events-performer></app-events-performer>
					<app-events-performer></app-events-performer>
					<app-events-performer></app-events-performer>
				</ion-list>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
