<div class="ticket-item-container">
	<div class="ticket-header">
		<div>
			<h1>Concert Name</h1>
			<h2>Music Concert</h2>
		</div>
		<div>
			<h4>Golden Stadium</h4>
		</div>
	</div>

	<div class="date">
		<div class="item">
			<h3>Date</h3>
			<h4>20, Nov 2023</h4>
		</div>
		<div class="item">
			<h3>Time</h3>
			<h4>9:00PM - 12:00PM</h4>
		</div>
	</div>

	<div class="split">
		<div class="edge-left"></div>
		<hr />
		<div class="edge-right"></div>
	</div>

	<div class="seat">
		<div class="item">
			<h3>Section</h3>
			<h4>General 001</h4>
		</div>
		<div class="item">
			<h3>Row</h3>
			<h4>J</h4>
		</div>
		<div class="item">
			<h3>Seat</h3>
			<h4>23</h4>
		</div>
	</div>
</div>
