.account-form {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.account-form ion-card {
	width: 90%;
	max-width: 400px;
	box-shadow: none;
}

.account-form .header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.account-form .invalid {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
