.event-tickets-container {
	padding: 20px;
}

.event-tickets-container .event-tickets-header {
	display: flex;
	justify-content: space-between;
}

.event-tickets-container ion-img {
	width: 100px;
	height: 100px;
}
